body {
    background-color: #A020F0;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#main {
    text-align: center;
}

#main2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 500px;
    cursor: pointer;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.0);
  }
  50% {
    transform: scale(1.12);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.0);
  }
}

header {
  width: 90vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#catius {
  height: 300px;
  width: 300px;
  animation: linear 1.5s;
  animation-name: coolcat;
}

@keyframes coolcat {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

#derhead {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  align-items: center;
  animation: linear infinite 1s;
  animation-name: cool;
}

@keyframes cool {
  0% {
    color: rgb(53, 50, 238);
  }
  50% {
    color: rgb(236, 51, 144);
  }
  100% {
    color: rgb(94, 32, 240);
  }
}